body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0b0b0f;
  color: #eaeaf0;
}

main {
  max-width: 720px;
  margin: 0 auto;
  padding: 80px 24px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.2em;
}

h3 {
  font-weight: normal;
  color: #a1a1aa;
  margin-top: 0;
  margin-bottom: 1.5em;
}

p {
  line-height: 1.7;
  margin-bottom: 1.2em;
}
